{% extends 'main/layoute.html' %}

{% block title %}
    <title>{{caption}}: Первая страница</title>

{% endblock %}

{% block content %}
    {% include 'main/nav.html'%}
    <h1>Добро пожаловать на {{caption}}! </h1>
    <h2>На нем вы сможете:</h2>

    <p>Заказать работу/консультацию</p>
    <p>Получить персонализированную консультацию</p>
    <p>Записаться на online-консультацию по конкретной проблеме</p>
    <p>Оформить/продлить подписку на ИТС-сопровождение</p>
    <p>Включиться в партнерскую (реферальную) программу</p>
    <p>Посмотреть наше портфолио и оферту</p>
{% endblock %}